<div class="page-header">
  <h1>
    Courts
    <a href="/courts/new" class="btn btn-lg btn-success">New Court</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "courts_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :capacity, "Capacity" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :capacity_gteq, :class => "form-control", :placeholder => "Capacity greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :capacity_lteq, :class => "form-control", :placeholder => "Capacity less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :images_cont, "Images contains" %>
    <%= f.text_field :images_cont, :class => "form-control", :placeholder => "Images contains" %>
  </div>

<div class="form-group">
    <%= f.label :identification_cont, "Identification contains" %>
    <%= f.text_field :identification_cont, :class => "form-control", :placeholder => "Identification contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
          <%= f.label :created_at, "OwnersEstablishment Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='ownergteqcreated_atPicker'>
                  <%= f.text_field :owner_created_at_gteq, :class => "form-control", :placeholder => "OwnersEstablishment Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='ownerlteqcreated_atPicker'>
                  <%= f.text_field :owner_created_at_lteq, :class => "form-control", :placeholder => "OwnersEstablishment Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#ownergteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#ownerlteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#ownergteqcreated_atPicker').on("dp.change", function (e) {
                  $('#ownerlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#ownerlteqcreated_atPicker').on("dp.change", function (e) {
                  $('#ownergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/courts" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#courts_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Owner</th>
        <th>Identification</th>
        <th>Images</th>
        <th>Capacity</th>
        <th>Actions</th>
      </tr>

      <% @courts.each do |court| %>
      <tr>
        <td>
          <% if court.owner.present? %>
            <a href="/owners_establishments/<%= court.owner.id %>">
              <%= court.owner.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= court.identification %></td>
        <td><%= court.images %></td>
        <td><%= court.capacity %></td>
        <td>
          <a href="/courts/<%= court.id %>" class="btn btn-primary">Show</a>
          
          <% if current_owners_establishment == court.owner %>
            <a href="/courts/<%= court.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_court/<%= court.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @courts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
