<div class="page-header">
  <h3>Court #<%= @court.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Owner</dt>
      <dd>
        <% if @court.owner.present? %>
          <a href="/owners_establishments/<%= @court.owner_id %>">
            <%= @court.owner.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Identification</dt>
      <dd><%= @court.identification %></dd>

      <dt>Images</dt>
      <dd><%= @court.images %></dd>

      <dt>Capacity</dt>
      <dd><%= @court.capacity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courts" class="btn btn-primary">
        Back
      </a>
      <% if current_owners_establishment == @court.owner %>
        <a href="/courts/<%= @court.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_court/<%= @court.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Court has many slots -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Slots
      </li>

      <% @court.slots.each do |slot| %>
        <li class="list-group-item">
          <a href="/slots/<%= slot.id %>">
            <%= slot.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/slots/<%= slot.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/slots/<%= slot.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_slot/<%= slot.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_slot" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="">
      </div>

      <!-- Label and input for courts_id -->
      <div class="form-group">
        <label for="courts_id" class="control-label">
          Courts
        </label>

        <%= select_tag(:courts_id, options_from_collection_for_select(Court.all, :id, :owner_id), :class => "form-control") %>
      </div>

      <!-- Label and input for users_id -->
      <div class="form-group">
        <label for="users_id" class="control-label">
          Users
        </label>

        <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Slot
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
