<div class="page-header">
  <h3>Court #<%= @court.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Owner</dt>
      <dd><%= @court.owner_id %></dd>

      <dt>Identification</dt>
      <dd><%= @court.identification %></dd>

      <dt>Images</dt>
      <dd><%= @court.images %></dd>

      <dt>Capacity</dt>
      <dd><%= @court.capacity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courts" class="btn btn-primary">
        Back
      </a>
      <a href="/courts/<%= @court.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_court/<%= @court.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Court has many slots -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Slots
      </li>

      <% @court.slots.each do |slot| %>
        <li class="list-group-item">
          <a href="/slots/<%= slot.id %>">
            <%= slot.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/slots/<%= slot.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/slots/<%= slot.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_slot/<%= slot.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
