<div class="page-header">
  <h1>
    Owners establishments
    <a href="/owners_establishments/new" class="btn btn-lg btn-success">New Owners establishment</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Neighborhood</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Website</th>
        <th>Name</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>

      <% @owners_establishments.each do |owners_establishment| %>
      <tr>
        <td><%= owners_establishment.email %></td>
        <td><%= owners_establishment.password %></td>
        <td>
          <% if owners_establishment.neighborhood.present? %>
            <a href="/neighborhoods/<%= owners_establishment.neighborhood.id %>">
              <%= owners_establishment.neighborhood.created_at %>
            </a>
          <% end %>
        </td>
        <td><%= owners_establishment.address %></td>
        <td><%= owners_establishment.phone_number %></td>
        <td><%= owners_establishment.website %></td>
        <td><%= owners_establishment.name %></td>
        <td><%= owners_establishment.image %></td>
        <td>
          <a href="/owners_establishments/<%= owners_establishment.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @owners_establishments, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
