<div class="page-header">
  <h3>Owners Establishment #<%= @owners_establishment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @owners_establishment.email %></dd>

      <dt>Password</dt>
      <dd><%= @owners_establishment.password %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @owners_establishment.neighborhood_id %></dd>

      <dt>Address</dt>
      <dd><%= @owners_establishment.address %></dd>

      <dt>Phone number</dt>
      <dd><%= @owners_establishment.phone_number %></dd>

      <dt>Website</dt>
      <dd><%= @owners_establishment.website %></dd>

      <dt>Name</dt>
      <dd><%= @owners_establishment.name %></dd>

      <dt>Image</dt>
      <dd><%= @owners_establishment.image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/owners_establishments" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Owners establishment has many courts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Courts
      </li>

      <% @owners_establishment.courts.each do |court| %>
        <li class="list-group-item">
          <a href="/courts/<%= court.id %>">
            <%= court.owner_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/courts/<%= court.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_owners_establishment == court.owner %>
              <a href="/courts/<%= court.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_court/<%= court.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
